nav{
    float: left;
    width: 10%;
    background-color: grey;
    height: 950px;
    list-style: none;
}

ul li{
    list-style: none;
    color: white;
    margin: 5px;
}

#contenido{
    float: left;
    width: 80%;
    height: 950px;
    background-color: blue;
}